rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Check if the user is authenticated
    function isAuthenticated() {
      return request.auth != null;
    }

    // Rules for members collection
    match /members/{memberId} {
      allow read, write: if isAuthenticated();
    }

    // Rules for metadata collection
    match /metadata/{metadataId} {
      allow read, write: if isAuthenticated();
    }
  }
}
